	{
	languages = (
		{
			name = "Old Hungarian";
			icon = OldHungarianTemplate;
			predicate = "script == \"rovas\"";
			subGroup = (
				{
					name = "Letters";
					coverage = (
						A-rovas,
						Aa-rovas,
						Eb-rovas,
						Amb-rovas,
						Ec-rovas,
						Enc-rovas,
						Ecs-rovas,
						Ed-rovas,
						And-rovas,
						E-rovas,
						EClose-rovas,
						Ee-rovas,
						Ef-rovas,
						Eg-rovas,
						Egy-rovas,
						Eh-rovas,
						I-rovas,
						Ii-rovas,
						Ej-rovas,
						Ek-rovas,
						Ak-rovas,
						Unk-rovas,
						El-rovas,
						Ely-rovas,
						Em-rovas,
						En-rovas,
						Eny-rovas,
						O-rovas,
						Oo-rovas,
						OeNikolsburg-rovas,
						OeRudimenta-rovas,
						Oee-rovas,
						Ep-rovas,
						Emp-rovas,
						Er-rovas,
						ErShort-rovas,
						Es-rovas,
						Esz-rovas,
						Et-rovas,
						Ent-rovas,
						Ety-rovas,
						Ech-rovas,
						U-rovas,
						Uu-rovas,
						UeNikolsburg-rovas,
						UeRudimenta-rovas,
						Ev-rovas,
						Ez-rovas,
						Ezs-rovas,
						EntShape-rovas,
						Us-rovas,
						a-rovas,
						aa-rovas,
						eb-rovas,
						amb-rovas,
						ec-rovas,
						enc-rovas,
						ecs-rovas,
						ed-rovas,
						and-rovas,
						e-rovas,
						eClose-rovas,
						ee-rovas,
						ef-rovas,
						eg-rovas,
						egy-rovas,
						eh-rovas,
						i-rovas,
						ii-rovas,
						ej-rovas,
						ek-rovas,
						ak-rovas,
						unk-rovas,
						el-rovas,
						ely-rovas,
						em-rovas,
						en-rovas,
						eny-rovas,
						o-rovas,
						oo-rovas,
						oeNikolsburg-rovas,
						oeRudimenta-rovas,
						oee-rovas,
						ep-rovas,
						emp-rovas,
						er-rovas,
						erShort-rovas,
						es-rovas,
						esz-rovas,
						et-rovas,
						ent-rovas,
						ety-rovas,
						ech-rovas,
						u-rovas,
						uu-rovas,
						ueNikolsburg-rovas,
						ueRudimenta-rovas,
						ev-rovas,
						ez-rovas,
						ezs-rovas,
						entShape-rovas,
						us-rovas,
					);
				},
				{
					name = "Numbers";
					coverage = (
						one-rovas,
						five-rovas,
						ten-rovas,
						fifty-rovas,
						hundred-rovas,
						thousand-rovas,
					);
				}
			);
		},
	);
	}
